.card.img.top{
    height: 200px;
    object-fit: cover;
}


.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.table-container {
    margin-top: 20px;
}
.pagination {
    margin-top: 20px;
}

.form-container-ingreso-egreso {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}